apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: personal-website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: shardendumishra22/ms22-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: MONGODB_URI
            - name: DB_NAME
              value: "personalwebsite"
            
            - name: ADMIN_PASS
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: ADMIN_PASS
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
            
            - name: GITHUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: GITHUB_TOKEN
            
            - name: PORT
              value: "5000"
            - name: ENVIRONMENT
              value: "production"
            - name: LOG_LEVEL
              value: "info"
            - name: CORS_ALLOW_ORIGINS
              value: "http://app.local,http://frontend,http://frontend.personal-website.svc.cluster.local"
